.payment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
}
.paytype {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}
.paybox {
  border: 1px solid black;
  width: 50vw;
  height: 100px;
}
.paybtn {
  width: 100px;
  height: 30px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
